<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <div>{{place.Name}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Category}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Length}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Grade}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.EstimatedTime}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Likes}}</div>
        </li>
    </ul>
</div>

<div class="embed-responsive embed-responsive-4by3">
    <iframe allowfullscreen="yes" scrolling="no" allowvr="yes"
            srcdoc="<html><head><script src='https://aframe.io/releases/0.8.0/aframe.min.js'></script></head><body>
                <a-scene>
                <a-sky src='/images/national_park_{{place.NumberOfImage}}.jpg'></a-sky>
            </a-scene></body></html>"></iframe>
</div>
