<br>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <div>{{place.Name}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Category}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Length}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Grade}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.EstimatedTime}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Likes}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.MapLatitude}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.MapLongitude}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.MarkerLatitude}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.MarkerLongitude}}</div>
        </li>
    </ul>
</div>
    <div class="row justify-content-center">
        <a id="whereamIbutton" class="btn btn-primary" href="/place" role="button">Where am I?</a>
    </div>
</div>