
<br>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <div id="name">{{place.Name}}</div>
        </li>
        <li class="list-group-item">
            <div>{{place.Description}}</div>
        </li>
            <div id="lat">{{place.Latitude}}</div>
            <div id="long" >{{place.Longitude}}</div>
            <div id="hide">{{place.Latitude}}</div>
            <div id="hide">{{place.Longitude}}</div>
            <div id="lat" style="visibility: hidden; display:inline;">{{place.Latitude}}</div>
            <div id="long" style="visibility: hidden; display:inline;">{{place.Longitude}}</div>
            <div style="visibility: hidden; display:inline;">{{place.Latitude}}</div>
            <div style="visibility: hidden; display:inline;">{{place.Longitude}}</div>

    </ul>
</div>
<br>
<div class="embed-responsive embed-responsive-4by3">
    <iframe allowfullscreen="yes" scrolling="no" allowvr="yes"
            srcdoc="<html><head><script src='https://aframe.io/releases/0.8.0/aframe.min.js'></script></head><body>
                    <a-scene>
                        <a-sky src='{{place.ImageLocation}}.jpg'></a-sky>
                    </a-scene></body></html>">
    </iframe>
</div>
<br>
<div class="container" align="center">
    <div id="mapid" style="width: 80%; height: 600px;"></div>
</div>
<br>
